.container h1 {
  color: #3A3333; /* タイトルの文字色 */
}

.terms-article h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.125rem;
  color: #3A3333;
}

.terms-article-body {
  background-color: #afd6f9; /* ←ここで統一 */
  padding: 16px;
  border-radius: 8px;
  line-height: 1.6;
  color: #303236;
}

.terms-article-body ol {
  margin: 0;
  padding-left: 1.2em;
}